.login {
  .logo {
    font-size: 100px;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    font-size: 42px;
  }

  .title {
    margin-top: 16px;
    font-size: 42px;
    font-weight: 300;
    text-align: center;
    color: #555;
  }

  .loading {
    margin-top: 30vh;
    display: flex;
    justify-content: center;

    .button {
      margin-top: -10px;
    }
  }

  .tip {
    font-size: 13px;
    color: #aaa;
    text-align: center;
    position: fixed;
    bottom: 5vh;
    width: 100%;
  }
}

.recaptcha {
  margin-top: -20vh;
  position: relative;
  min-width: 150px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  min-width: 300px;
  box-shadow: 0 0 18px rgba($color: #000000, $alpha: 0.5);

  :global {
    #recaptcha-container {
      position: relative;
      z-index: 1;
    }
  }

  .phone {
    margin-bottom: 10px;
    color: #666;
  }

  .message {
    position: absolute;
    top: 66px;
    left: 0;
    width: 100%;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    text-align: center;
  }

  .main {
    min-height: 30px;
  }

  .footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}
