.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9;
}

.container {
  overflow: hidden;
}

.main {
  margin: 10px 10px;
  padding-top: 50px;

  .col {
    transition: all 0.3s;
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
    }
  }
}

.loading {
  line-height: 60px;
}

.error {
  margin: 10vh auto 0;
  color: #ea475a;
  border: 1px solid #ea475a;
  padding: 20px;
  width: 90vw;
  border-radius: 4px;
  background: #fff1f1;

  p {
    margin-top: 6px;
  }

  div {
    margin-top: 10px;
    font-size: 14px;
    text-align: right;
  }
}

.footer {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-bottom: 8px;
}
