.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
}

.container {
  padding: 10px;

  .photo {
    margin-bottom: 10px;
    box-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.1);
    display: flex;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      width: 100%;
    }
  }
}
