.wrap {
  display: flex;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.12em;
  fill: currentColor;
  overflow: hidden;
}

.button {
  border-radius: 9em;
}

.IconLoading {
  color: #999;

  &.loading {
    animation: 1s linear 0s infinite normal rotate;

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}
