.input {
  display: none;
}

.popup {
  .title {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: 666;

    .text {
      margin-left: 10px;
      color: #666;
    }
  }

  .footer {
    flex: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .count {
      color: #999;
    }
  }
}
